<?xml version="1.0" encoding="utf-8"?>
<!-- The game as an Android app: one full-screen WebView showing the web build that is packed
     into the APK's assets. No permissions: nothing is loaded from the network. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.rdash"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false" />
    <application
        android:label="@string/app_name"
        android:icon="@mipmap/icon"
        android:isGame="true"
        android:hardwareAccelerated="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|navigation|uiMode|density|smallestScreenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
